<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="base ::entete"></head>
<body class="g-sidenav-show bg-gray-100">
    
    <main >
        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                    <div class="card">
                        <div class="card-header bg-primary text-white text-center">
                            <h4 class="font-weight-bolder mb-0">Faire une reservation</h4>
                        </div>
                        <div class="card-body">

					
				
                </div>
            </div>
        </div>
    </main>
    <div th:replace="base ::messcripts"></div>
</body>
</html>
    					 